<article class="post">
    <header class="entry-header">
        <div class="entry-header-wrap">  
            <div class="post-thumbnail">
                <img src="{{ "/images/" | append: page.banner_image_2 | prepend: site.baseurl }}" alt="{% if page.banner_image_alt_2 %}{{ page.banner_image_alt_2 }}{% else %}{{ page.title_2 }}{% endif %}">
            </div><!-- .post-thumbnail -->
            <h1 class="entry-title">About Vivek Singh Bhadauria</h1>
        </div><!-- .entry-header-wrap -->
    </header><!-- .entry-header -->
    <div class="entry-content">
        I am an electronics engineer with a knack for programming. Graduated in <b>ECE</b> from Delhi Technological University (<b>DTU</b>). I like to code in C++, Java, automate tasks with Python and loves to make Android Apps.<br> I was a <b>Google Summer of Code</b> student developer under <b>FOSSASIA</b> and software developer intern for <b>Samsung Research and Development Institute</b>. 
        This blog is an effort to improve <b>Financial Literacy</b> and increase the odds for <b>Financial Freedom 😉</b> 
    </div><!-- .entry-content -->
    <footer class="entry-footer">
        <div class="share-post">
            <a class="fa-linkedin" target="_blank" href="https://www.linkedin.com/in/viveksb007/"><span class="screen-reader-text">LinkedIn</span></a>
            <a class="fa-github" target="_blank" href="https://github.com/viveksb007"><span class="screen-reader-text">Quora</span></a>
            <a class="fa-quora" target="_blank" href="https://www.quora.com/profile/Vivek-Singh-Bhadauria"><span class="screen-reader-text">Quora</span></a>
            <a class="fa-twitter" target="_blank" href="https://twitter.com/viveksb007"><span class="screen-reader-text">Twitter</span></a>
            <a class="fa-facebook" target="_blank" href="https://www.facebook.com/viveksb007"><span class="screen-reader-text">Facebook</span></a>
            <a class="fa-google-plus" target="_blank" href="https://plus.google.com/u/0/+VivekSinghBhadauriaSageMode"><span class="screen-reader-text">Google+</span></a>
        </div><!-- .share-post -->
    </footer><!-- .entry-footer -->
</article><!-- .post -->