<article class="post">
    <header class="entry-header">
        <div class="entry-header-wrap">  
            <div class="post-thumbnail">
                <img src="{{ "/images/" | append: page.banner_image_1 | prepend: site.baseurl }}" alt="{% if page.banner_image_alt_1 %}{{ page.banner_image_alt_1 }}{% else %}{{ page.title_1 }}{% endif %}">
            </div><!-- .post-thumbnail -->
            <h1 class="entry-title">About Utkarsh Baghel</h1>
        </div><!-- .entry-header-wrap -->
    </header><!-- .entry-header -->
    <div class="entry-content">
        Stock Market enthusiast, avid reader and a <b>hardcore Peter Lynch fan</b>. I’ve graduated in Mechanical Engineering from Delhi Technological University (DTU). Being a non-coder who loses his calm on seeing that “black coding screen”, I teamed up with my college mate and an awesome coder, Vivek who coded and manages this blog where I post my articles.<br>
        If you’re not satisfied with any of my post feel free to contact me.<br>
        If this site has some bugs that keep you from opening it, feel free to bash him and <b>I promise I’ll join you</b>.
    </div><!-- .entry-content -->
    <footer class="entry-footer">
        <div class="share-post">
            <a class="fa-quora" target="_blank" href="https://www.quora.com/profile/Utkarsh-Baghel"><span class="screen-reader-text">Quora</span></a>
            <a class="fa-twitter" target="_blank" href="https://twitter.com/bhundengineer"><span class="screen-reader-text">Twitter</span></a>
            <a class="fa-instagram" target="_blank" href="https://www.instagram.com/utkarsh_renegade/"><span class="screen-reader-text">Instagram</span></a>
            <a class="fa-envelope" target="_blank" href="mailto:utkarsh96.cr7@gmail.com"><span class="screen-reader-text">E-Mail</span></a>
        </div><!-- .share-post -->
    </footer><!-- .entry-footer -->
</article><!-- .post -->